<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">
      Apitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides >
    <ion-slide *ngFor="let perro of listadoPerritos">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{perro.nombre}}</ion-card-title>
          <ion-card-subtitle>{{perro.sexo}} - {{ perro.raza}}</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          {{perro.descripcion}}
          <ion-img src="/assets/Porter.png"></ion-img>
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>
</ion-content>
