<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactanos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-img src="/assets/logo.png"></ion-img>
      <ion-card-subtitle>Apitas en las redes</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p><ion-icon name="mail-outline"></ion-icon> Email</p>
      <p><ion-icon name="mail-outline"></ion-icon> Whatsapp</p>
      <p><ion-icon name="mail-outline"></ion-icon> Instagram</p>
      <p><ion-icon name="mail-outline"></ion-icon> Facebook</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-title>Colabora con los apitas</ion-card-title>

    <ion-card-content>
      <p><ion-icon name="mail-outline"></ion-icon> Mercado Pago aca?</p>

    </ion-card-content>
  </ion-card>


</ion-content>
